canvas{
    background-color: black;
    height: 100%;
    width: 100%;
}

html, body{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    /*overflow-y: hidden;*/
}

.ranges{
    width: 60%;
}

.displays{
    margin-left: 5em;
}